<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo 7</title>
</head>
<body>
    <div>
        <h1> Spring MVC - Exemplo 8 </h1>
        <h2>
            Basicamente o Chrome montou essa requisição com todos os cabeçalhos
            Mandou para a aplicação Spring rodando no servidor tomcat
            montou o HTML e retornou esse resultado:
        </h2>
        <ul>
            <li th:each="header : ${headers}">
                <strong th:text="${header.key}"></strong>: <span th:text="${header.value}"></span>
            </li>
        </ul>
    </div>
</body>
</html>