<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo 5</title>
</head>
<body>
    <div>
        <h1> Spring MVC - Exemplo 3 </h1>
        <p> Iserindo os atributos que foram adicionados na DAO </p>
        
        <br>
        <p>Esses dados foram passados atraves de um OBJETO ModelAndView</p>
        <br>

        <p>Nome:            <span th:text="${dados.nome}"> xxxxx </span></p>
        <p>Data Nascimento: 
        <span th:text="${dados.dataNascimento}" th:if="${dados.dataNascimento != null}"> yyyy-mm-dd </span>
        <!-- unless faz o contrario do IF, enquanto o if verifica se é TRUE o unless verifica se é FALSE -->
        <span th:unless="${dados.dataNascimento != null}">Não Informado</span></p>
        
        <p>Núnero:          <span th:text="${dados.numero}"> 00 </span></p>
    </div>
</body>
</html>