<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo 7</title>
</head>
<body>
    <div>
        <h1> Spring MVC - Exemplo 7 </h1>
        <h2>
            Esse exemplo nos mostra a assinatura do navegador onde foi aberto
            o seu User-Angent
        </h2>
        <p>User-Agent <span th:text="${ua}"> xxxxx </span></p>
    </div>
</body>
</html>